body{
    padding: 0px;
    margin: 0px;
}
.nev{
    background: brown;
}
.logo {
    float: left;
    display: inline-block;
    margin-left: 200px;
}
.list{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.cart{
    float: right;
    display: inline-block;
    background: yellow;
    margin-right: 200px;
}
