<<<<<<< HEAD
body{
    padding: 0px;
    margin: 0px;
}
.nev{
    background: brown;
}
.logo {
    float: left;
    display: inline-block;
    margin-left: 200px;
}
.list{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.cart{
    float: right;
    display: inline-block;
    background: yellow;
    margin-right: 200px;
}
=======

body{
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
li{
	float: left;
	height: 50px;
	width: 50%;
	background: #aaa;
	border: 1px solid #000;
	padding: 50px;
	margin: 10px;
}


.a{
	background: red;
}
.b{
	background: orange;
}
.c{
	background: green;
}
.d{
	background: blue;
}



a{
	display: block;
	border-top: 2px solid #555;
	display: inline-block;
}


>>>>>>> 1e723d57a73eb33378fed72d0d8a90e7ec97247f
